*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#head{
    background-color:#000;
    color:#fff;
    overflow: hidden;
}
.container-fluid{
    background:#000 url(../../bg/bg.jpg) no-repeat center;
    background-size:cover;
    min-height: 100vh;
    overflow: hidden;
}
#c1{
    background-color: #000;
    height: 100%;
}
#c11{
    background:#f00 url(../../bg/4.jpg) no-repeat center center;
    background-size:cover;
    padding:5rem;
    color:#fff;
    font-size:100%;
    letter-spacing:.2px;
    overflow: hidden;
}
#c111{
    color:#fff;
    font-size:100%;
}
#c1111{
    background-color:lightblue;
    height:2.5rem;
}
.link{
    color:#000;
    text-decoration: none;
}
#c2{
    background-color: #000;
    height: 100%;
}
#c22{
    background:#f00 url(../../bg/4.jpg) no-repeat center center;
    background-size:cover;
    padding:5rem;
    color:#fff;
    font-size:100%;
    letter-spacing:.2px;
    overflow: hidden;
}
#c222{
    color:#fff;
    font-size:100%;
}
#c2222{
    background-color:lightblue;
    height:2.5rem;
}

#c3{
    background-color: #000;
    height: 100%;
}
#c33{
    background:#f00 url(../../bg/4.jpg) no-repeat center center;
    background-size:cover;
    padding:5rem;
    color:#fff;
    font-size:100%;
    letter-spacing:.2px;
    overflow: hidden;
}
#c333{
    color:#fff;
    font-size:100%;
}
#c3333{
    background-color:lightblue;
    height:2.5rem;
}

#c4{
    background-color: #000;
    height: 100%;
}
#c44{
    background:#f00 url(../../bg/4.jpg) no-repeat center center;
    background-size:cover;
    padding:5rem;
    color:#fff;
    font-size:100%;
    letter-spacing:.2px;
    overflow: hidden;
}
#c444{
    color:#fff;
    font-size:100%;
}
#c4444{
    background-color:lightblue;
    height:2.5rem;
}

#c5{
    background-color: #000;
    height: 100%;
}
#c55{
    background:#f00 url(../../bg/4.jpg) no-repeat center center;
    background-size:cover;
    padding:5rem;
    color:#fff;
    font-size:100%;
    letter-spacing:.2px;
    overflow: hidden;
}
#c555{
    color:#fff;
    font-size:100%;
}
#c5555{
    background-color:lightblue;
    height:2.5rem;
}

#c6{
    background-color: #000;
    height: 100%;
}
#c66{
    background:#f00 url(../../bg/4.jpg) no-repeat center center;
    background-size:cover;
    padding:5rem;
    color:#fff;
    font-size:100%;
    letter-spacing:.2px;
    overflow: hidden;
}
#c666{
    color:#fff;
    font-size:100%;
}
#c6666{
    background-color:lightblue;
    height:2.5rem;
}
#c1111:hover{
    background-color: #f00;
    color:#fff;
}
#c2222:hover{
    background-color: #f00;
    color:#fff;
}
#c3333:hover{
    background-color: #f00;
    color:#fff;
}
#c4444:hover{
    background-color: #f00;
    color:#fff;
}
#c5555:hover{
    background-color: #f00;
    color:#fff;
}
#c6666:hover{
    background-color: #f00;
    color:#fff;
}
#foot{
    /* background-color: #000; */
    color:#fff;
    font-size:100%;
}
.c77{
    background-color:#000;
    color:#fff;
}
#c7{
    font-size:1.2rem;
    color:#0f0;
}